:root {
  font-family: monospace, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
html { font-size: 10px; }
h1 { font-size: 2.7rem; }
h2 { font-size: 2.3rem; }
h3 { font-size: 1.9rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.3rem; }
.w100 { width: 100%; }
@media (max-width: 729px) {
  #items {
    max-width: 37rem;
  }
  .cart-left, .cart-right {
    height: 50vh;
    min-width: 100vw;
  }
  .cart svg {
    color: black;
  }
}
@media (min-width: 730px) and (max-width: 1089px) {
  #items {
    max-width: 73rem;
  }
  .cart-left, .cart-right {
    height: 50vh;
    min-width: 100vw;
  }
  .cart svg {
    color: black;
  }
}
@media (min-width: 1090px) and (max-width: 1449px) {
  #items {
    max-width: 109rem;
  }
  .cart-left, .cart-right {
    height: 100vh;
  }
}